<%# episodeTable ================================== %>
<section class="main__section">
    <h2 class="main__sectionTtl">経験の振り返り</h2>
    <%# header列数 * エピソード行数　のテーブルを作成 %>
    <div    id="<%= @episodeTable %>"
            class="<%= @episodeTable %> main__sectionContent">
        <div class="<%= @episodeTable_header %>">
            <% @episode_header_list.each do |header_item| %>
                <div class="<%= @episodeTable_column %>">
                    <%= header_item %>
                </div>
            <% end %>
        </div> 
    <% @episodeTable_cell_data = init_episodeTable_cell_data() %>
    <% @episodeTable_default_row_nums.times do |row_num| %>
        <div class="<%= @episodeTable_row %>">
            <% @episode_header_list.length.times do |col_num| %>
                <% episodeTable_cell_attribute  = get_episodeTable_cell_attribute(row_num, col_num) %>
                <div class="<%= episodeTable_cell_attribute[:attr_class] %>">
                    <% if episodeTable_cell_is_input_tag? %>
                        <input  id="<%= episodeTable_cell_attribute[:attr_id] %>"
                                class="<%= @episodeTable_input %>"
                                type="<%= episodeTable_cell_attribute[:attr_type] %>"
                                min="<%= episodeTable_cell_attribute[:attr_min] %>"
                                max="<%= episodeTable_cell_attribute[:attr_max] %>"
                                placeholder="<%= episodeTable_cell_attribute[:attr_placeholder] %>"
                                value="<%= @episodeTable_cell_data[(@episode_header_list.length)*row_num + col_num] %>">
                    <% else %>
                        <textarea   id="<%= episodeTable_cell_attribute[:attr_id] %>"
                                    class="<%= @episodeTable_textarea %>"
                                    row="<%= episodeTable_cell_attribute[:attr_row] %>"
                                    placeholder="<%= episodeTable_cell_attribute[:attr_placeholder] %>"></textarea>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
    </div>
</section>



<%# ===== chronology ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">自分史 / モチベーションチャート</h2>
    <div class="chronology main__sectionContent">
        <canvas id="chronologyChart" class="chronology__chart"></canvas>
        <ul  id="chronologyText" class="chronologyEpisodeList chronology__episode">
            <%# 以下繰り返し
                <li class="chronologyEpisodeList__item">
                    <p class="chronologyEpisodeList__itemAge">年齢</p>
                    <p class="chronologyEpisodeList__itemText">エピソードテキスト</p>
                </li>
            %>
        </ul>
    </div>
</section>


<%# ===== analysis ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">分析</h2>
    <div id="analysisTableArea" class="main__sectionContent">
        <%# <ul class="analysisQuestionTableList">
            <li class="analysisQuestionTableList__item">
                <h3 class="main__sectionSubTtl">モチベーションが上がったのはどんな時？</h3>
                <div class="analysisQuestion1Table">
                    <div class="analysisQuestion1Table__header">
                        <div class="analysisQuestion1Table__column">エピソード</div>
                        <div class="analysisQuestion1Table__column">理由</div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion1Table__row">
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                        <div class="analysisQuestion1Table__column">
                            <textarea class="analysisQuestion1Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
            <li class="analysisQuestionTableList__item">
                <h3 class="main__sectionSubTtl">モチベーションが上がる時の共通要素は？</h3>
                <div class="analysisQuestion2Table">
                    
                    <div class="analysisQuestion2Table__header">
                        <div class="analysisQuestion2Table__column">共通要素</div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                    <div class="analysisQuestion2Table__row">
                        <div class="analysisQuestion2Table__column">
                            <textarea class="analysisQuestion2Table__textarea" name="" id="" rows="2" placeholder="ここに入力"></textarea>
                        </div>
                    </div>
                </div>
            </li>
        </ul>%>
    </div>
</section>



<%# ===== summary ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">まとめ</h2>
    <div    id="<%= @summaryTableArea %>"
            class="main__sectionContent">
        <ul class="<%= @summaryTableList %>">
            <% @summary_header_list.length.times do |header_num| %>
            <% summaryTable_cell_attribute  = get_summaryTable_cell_attribute(header_num) %>
                <li class="<%= add_class(@summaryTable, [@summaryTableList_item]) %>">
                    <div class="<%= @summaryTable_header %>">
                        <div class="<%= @summaryTable_column %>">
                            <%= @summary_header_list[header_num] %>
                        </div>
                    </div>
                    <div class="<%= @summaryTable_row %>">
                        <div class="<%= @summaryTable_column %>">
                            <textarea   id="<%= summaryTable_cell_attribute[:attr_id] %>"
                                        class="<%= @summaryTable_textarea %>"
                                        rows="<%= summaryTable_cell_attribute[:attr_row] %>"
                                        placeholder="<%= summaryTable_cell_attribute[:attr_placeholder] %>"></textarea>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</section>