<%# episodeTable ================================== %>
<section class="main__section">
    <h2 class="main__sectionTtl">これまでの振り返り</h2>
    <%# header列数 * エピソード行数　のテーブルを作成 %>
    
    <div    id="episodeTable"
            class="episodeTable main__sectionContent">
        <%= form_with url: "/update_episode" do |form| %>
            <%= form.submit "保存", class: "episodeTable__formSendBtn" %>
            <div class="episodeTable__cells">
                <div class="episodeTable__header">
                    <% $episode_header.each do |k_sym, v_header_info| %>
                        <div class="episodeTable__column">
                            <%= v_header_info %>
                        </div>
                    <% end %>
                </div>
            <% @episode_table_data.each do |record| %>
                <div class="episodeTable__row">
                    <% $episode_header.each do |k_sym, v_colomn| %>
                        <% episodeTable_cell_attribute  = get_episodeTable_cell_attribute(record, k_sym, v_colomn) %>
                        <div class="<%= episodeTable_cell_attribute[:attr_class] %>">
                            <% if episodeTable_cell_is_input_tag? %>
                                <%= form.number_field   episodeTable_cell_attribute[:attr_name].to_sym,
                                                        value: record[k_sym],
                                                        class: "episodeTable__input",
                                                        type: episodeTable_cell_attribute[:attr_type],
                                                        min: episodeTable_cell_attribute[:attr_min],
                                                        max: episodeTable_cell_attribute[:attr_max] %>
                            <% else %>
                                <%= form.text_area episodeTable_cell_attribute[:attr_name].to_sym,
                                                    value: record[k_sym],
                                                    class: "episodeTable__textarea",
                                                    row: episodeTable_cell_attribute[:attr_row] %>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %> 
            </div>
        <% end %>
    </div>
</section>

<%# ===== chronology ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">自分史 / モチベーションチャート</h2>
    <dl class="chronology main__sectionContent">
        <dt class="chronology__axis">
            <canvas id="chronologyChartVaxis"
                    class="chronology__chartVaxis"></canvas>
        </dt>
        <dd class="chronology__chartBody">
            <canvas id="chronologyChart"
                    class="chronology__chart"></canvas>
        </dd>
        <dt class="chronology__textTtl"></dt>
        <dd class="chronology__textList">
            <ul id="chronologyText"
                class="chronologyEpisodeList chronology__episode">
                <% episodeTable_age_data = @episode_table_data.pluck(:age) %>
                <% episodeTable_episode_data = @episode_table_data.pluck(:episode) %>
                <% @len_episode_table_data.times do |item_num| %>
                    <li class="chronologyEpisodeList__item">
                        <p  class="chronologyEpisodeList__itemAge"
                            id="<%= get_chronology_cell_id(item_num, "age") %>"><%= episodeTable_age_data[item_num] %></p>
                        <p  class="chronologyEpisodeList__itemText"
                            id="<%= get_chronology_cell_id(item_num, "episode") %>"><%= episodeTable_episode_data[item_num] %></p>
                    </li>
                <% end %>
            </ul>
        </dd>
    </dl>
</section>

<%# ===== analysis ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">分析</h2>
    <%= form_with url: "/update_analysis" do |form| %>
            <%= form.submit "保存", class: "analysisTable__formSendBtn" %>
    <ul id="analysisTableList"
        class="analysisTableList main__sectionContent">
            <% $GROUP_NUM.times do |group_num| %>
                <li class="analysisTableList__item">
                    <div class="analysisTableWrapper">
                        <h3 class="main__sectionSubTtl">
                            <%= $analysisTableQ1_content_list[group_num][$ANALYSIS_THEME] %>
                        </h3>
                        <div class="analysisQ1Table">
                            <div class="analysisQ1Table__header">
                                <% $analysisTableQ1_content_list[group_num][$ANALYSIS_HEADER].each do |header_item| %>
                                    <div class="analysisQ1Table__column">
                                        <%= header_item %>
                                    </div>
                                <% end %>
                            </div>
                            <% @analysis_table_q1_group_data = get_analysisTable_group_data(:q1, group_num) %>
                            <% @analysis_table_q1_group_data.each do |record| %>
                                <div class="analysisQ1Table__row">
                                    <% $analysis_q1_header.each do |k_sym, v_colomn| %>
                                        <% analysisTable_cell_attribute = get_analysisTable_cell_attribute(group_num, :q1, record, k_sym) %>
                                        <div class="analysisQ1Table__column">
                                            <%= form.text_area analysisTable_cell_attribute[:attr_name].to_sym,
                                                                value: record[k_sym],
                                                                class: "analysisQ1Table__textarea",
                                                                row: analysisTable_cell_attribute[:attr_row] %>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="analysisTableWrapper">
                        <h3 class="main__sectionSubTtl">
                            <%= $analysisTableQ2_content_list[group_num][$ANALYSIS_THEME] %>
                        </h3>
                        <div class="analysisQ2Table">
                            <div class="analysisQ2Table__header">
                                <% $analysisTableQ2_content_list[group_num][$ANALYSIS_HEADER].each do |header_item| %>
                                    <div class="analysisQ2Table__column">
                                        <%= header_item %>
                                    </div>
                                <% end %>
                            </div>
                            <% @analysis_table_q2_group_data = get_analysisTable_group_data(:q2, group_num) %>
                            <% @analysis_table_q2_group_data.each do |record| %>
                                <div class="analysisQ2Table__row">
                                    <% $analysis_q2_header.each do |k_sym, v_colomn| %>
                                        <% analysisTable_cell_attribute = get_analysisTable_cell_attribute(group_num, :q2, record, k_sym) %>
                                        <div class="analysisQ2Table__column">
                                            <%= form.text_area analysisTable_cell_attribute[:attr_name].to_sym,
                                                                value: record[k_sym],
                                                                class: "analysisQ2Table__textarea",
                                                                row: analysisTable_cell_attribute[:attr_row]%>
                                        </div>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </li>
            <% end %>
        
    </ul>
    <% end %>
</section>

<%# ===== summary ===== %>
<section class="main__section">
    <h2 class="main__sectionTtl">まとめ</h2>
    <ul id="summaryTableList"
        class="summaryTableList main__sectionContent">
        <%= form_with url: "/update_summary" do |form| %>
            <%= form.submit "保存", class: "summaryTable__formSendBtn" %>
            <% @summary_table_data.each do |record| %>
                <% $summary_header.each do |k_sym, v_header_info| %>
                <% summaryTable_cell_attribute  = get_summaryTable_cell_attribute(k_sym) %>
                    <li class="summaryTable summaryTableList__item">
                        <div class="summaryTable__header">
                            <div class="summaryTable__column">
                                <%= v_header_info %>
                            </div>
                        </div>
                        <div class="summaryTable__row">
                            <div class="summaryTable__column">
                                <%= form.text_area summaryTable_cell_attribute[:attr_name].to_sym,
                                                        value: record[k_sym],
                                                        class: "summaryTable__textarea",
                                                        row: summaryTable_cell_attribute[:attr_row] %>
                            </div>
                        </div>
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</section>