<h1>ユーザ編集</h1>
<%# varidationエラー時はメッセージ表示 %>
<% if @error_message %>
    <ul>
        <% @error_message.each do |message| %>
            <li>
                <%= message %>
            </li>
        <% end %>
    </ul>
<% end %>

<%= form_with url: "/users/update" do |form|%>
    <div>
        <p>ユーザ名</p>
        <dl>
            <dd>入力条件</dd>
            <dt>半角英数字記号いずれかからなる組み合わせ</dt>
            <dt>6〜15文字以内</dt>
        </dl>
        <%= form.text_field :update_user_name, value: @update_user_name %>
    </div>
    <div>
        <p>パスワード</p>
        <dl>
            <dd>入力条件</dd>
            <dt>半角英数字記号全てを含んだ組み合わせ</dt>
            <dt>10〜20文字以内</dt>
        </dl>
        <%= form.password_field :update_user_password, value: @update_user_password %>
    </div>
    <%= form.submit "SEND" %>
<% end %>