<!DOCTYPE html>
<html>
  <head>
    <title>Saguru - サグル -</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <header class="header body__header">
      <h1 class="logo header__logo">
        <p class="logo__ruby">-サグル-</p>
        <p class="logo__ttl">Saguru</p>
      </h1>
      <nav class="nav header__nav">
        <%# ログイン中リンク %>
        <% if @loggedin_user %>
          <p class="nav__username">ユーザ：<%= @loggedin_user.name %></p>
          <%= link_to "Saguruとは", "/", class: "nav__item #{set_class_only_current_page("/", "nav__item_currentPage")}" %>
          <%= link_to "自己分析する", "/saguru", class: "nav__item #{set_class_only_current_page("/saguru", "nav__item_currentPage")}" %>
          <%= link_to "アカウント編集", "/setting", class: "nav__item #{set_class_only_current_page("/setting", "nav__item_currentPage")}" %>
          <%= link_to "ログアウト", "/logout", class: "nav__item #{set_class_only_current_page("/logout", "nav__item_currentPage")}" %>
        <%# ログアウト中リンク %>
        <% else %>
          <%= link_to "Saguruとは", "/", class: "nav__item #{set_class_only_current_page("/", "nav__item_currentPage")}" %>
          <%= link_to "新規登録", "/signup", class: "nav__item #{set_class_only_current_page("/signup", "nav__item_currentPage")}" %>
          <%= link_to "ログイン", "/login", class: "nav__item #{set_class_only_current_page("/login", "nav__item_currentPage")}" %>
        <% end %>
      </nav>
    </header>

    <main class="main body__main">
      <% if flash[:alert] %>
          <div class="body__flashMessage body__flashMessage_alert">
            <%= alert %>
          </div>
      <% end %>
      <% if flash[:notice] %>
          <div class="body__flashMessage body__flashMessage_notice">
            <%= notice %>
          </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
