<!DOCTYPE html>
<html>
  <head>
    <title>Saguru - サグル -</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="body">
    <header class="header body__header">
      <h1 class="logo header__logo">
        <p class="logo__ruby">-サグル-</p>
        <p class="logo__ttl">Saguru</p>
      </h1>
      <%# ログイン中リンク %>
      <% if @current_user %>
        <%= link_to("Saguruについて", "/about") %>
        <%= link_to("自己分析する", "/") %>
        <%= link_to("ユーザ編集", "/") %>
        <%= link_to("ログアウト", "/logout")%>
      <%# ログアウト中リンク %>
      <% else %>
        <%= link_to("Saguruについて", "/about") %>
        <%= link_to("新規ユーザ登録", "/signup") %>
        <%= link_to("ログイン", "/login") %>
      <% end %>
    </header>

    <main class="main body__main">
      <%= yield %>
    </main>
  </body>
</html>
